@import "tailwindcss/dist/base.css";
@import "tailwindcss/dist/components.css";
@import "tailwindcss/dist/utilities.css";

.card {
    border: 1px solid #817d7d;
  width: 30%;
  height: 150px;
  margin: 1%;
  float: left;
  align-items: center;
  border-radius: 5px;
}
.card:hover{
    background-color: rgb(239, 246, 143);

}
.gradient-title {
    background: linear-gradient(to right, #ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;
    position: relative;
  }
  
 
  
